<body>
    <div>
        <table id="weektable" class="table">
            <tr>
                <th>Room</th>
                <th>Kitchen</th>
                <th>Cats</th>
                <th>Kindergarden</th>
                <th>Entertainment</th>
                <th>Other</th>
            </tr>
            <tr>
                {% for x in range(6) %}
                    <td>
                        <ul class="table_lists">
                            {% for task in array[x] %}
                            <li style="margin: 0;">
                                <div id="{{ task['name'] }}" class="card ui-widget-content text-dark bg-light mb-3" style="max-width: 100%; overflow: hidden;">
                                    <div class="card-header" style="font-size: max(1.5vw, 0.9rem);">
                                        {{ task["tasker"] }}
                                        <button class="deletenote btn-close" onclick="remove(this)"></button>
                                    </div>

                                    <div class="card-body">
                                        <p class="card-text text-wrap" style="text-align: center; font-size: max(2vw,1rem);">{{ task["name"] }}</p>
                                    </div>
                                    {% if task["day"] == 'None' %}
                                    <div class="card-footer" style="font-size: max(1.5vw, 0.9rem);">
                                        <button type="button" class="failed btn btn-danger" onclick="fail(this)">Fail</button>
                                    </div>
                                    {% elif task["day"] == 'Wednesday' %}
                                    <div class="card-footer" style="font-size: max(1.5vw, 0.9rem);">
                                        Wednesd.
                                        <button type="button" class="failed btn btn-danger" onclick="fail(this)">Fail</button>
                                    </div>
                                    {% else %}
                                    <div class="card-footer" style="font-size: max(1.5vw, 0.9rem);">
                                        {{ task["day"] }}
                                        <button type="button" class="failed btn btn-danger" onclick="fail(this)">Fail</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
</body>

